<div class="main-container">

<nav>
    <div class="nav-item">Clínica</div>
    <div class="nav-item">Gestión de Permisos o Vacaciones</div>
  </nav>
  
  <main class="contenido">

<div class="contenedor-principal">
    <h3>Gestión de permisos</h3>
    <div class="contenedor-lista">
      <div *ngFor="let permiso of permisos" class="permiso-card">
        <p><strong>Nombre:</strong> {{ permiso.empleado.nombre }}</p>
        <p><strong>Fecha inicio:</strong> {{ permiso.fechaInicio }}</p>
        <p><strong>Fecha fin:</strong> {{ permiso.fechaFin }}</p>
        <p><strong>Identificación:</strong> {{ permiso.empleado.cedulaEmpleado }}</p>
        <p><strong>Motivo:</strong> {{ permiso.motivo }}</p>
        <p><strong>Observaciones:</strong> {{ permiso.observaciones }}</p>
        <p><strong>Estado:</strong> {{ permiso.estado }}</p>
        <div class="botones">
          <button class="btn-aprobar" (click)="cambiarEstado(permiso.idPermiso, 'Aprobado')">Aceptar</button>
          <button class="btn-rechazar" (click)="cambiarEstado(permiso.idPermiso, 'Rechazado')">Rechazar</button>
        </div>
      </div>
    </div>
    <div *ngIf="permisos.length === 0" class="mensaje-vacio">
        No hay permisos pendientes.
      </div>
      
  </div>
</main>

  <footer class="footer">
    ClínicaApp - Sistema de Gestión de recursos humanos
  </footer>
  
</div>